body {
  background-color: rgba(50, 60, 50, 1);
  color: yellow;
}

#title {
  margin-top: 50px;
  margin-bottom: 0.5rem;
}

#description {
  font-weight: 200;
}

input, select, textarea, label {
  display: block;
}

label {
  margin-bottom: 10px;
}

input, select, textarea, button {
  width: 100%;
  box-sizing: border-box;
}

.inline {
  display: inline;
  width: unset;
  margin: 0 0.7em 0 0;
  vertical-align: middle;    
}

select {
  height: 30px;
  box-sizing: border-box;
}

h1, p {
  text-align: center;
}

form {
  background-color: #1b1b32;
  color: white;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
}

.field {
  margin-top: 20px;
}

#submit {
  background-color: rgb(50, 50, 50);
  color: black;
  min-height: 30px;
  border: none;
  margin-top: 20px;
  font-size: large;
}
